.App {
  text-align: center;
  
 
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar .navbar-brand img{
  width: 200px;
  
  
}
.navbar .navbar-brand img::shadow{
  color: #444444 ;
}

.Home{
  color: #000000;
  background-color: #FFD800;
  font-size: 24px;
  font-family: 'Montserrat';
  font-weight: 800;
  text-decoration: none;
  border-bottom: solid 3px #444444;
  padding: 10px;
  
 
  
}


.Home:hover{
  color: #ffffff;
  background-color: #000000;

}

.link{
  text-decoration: none;
}

.red {
  color: #000000 !important;
  text-decoration: none !important;
  background-color: #FFD800;
  font-family: 'montserrat';
  font-weight: 800;
  border-radius: 5x;
  border-bottom: solid 3px #444444;
  padding: 8px;
 }

 .red:hover{
    color: #ffffff !important;
   background-color: #000000;
 }



.container .row .col-lg {
  margin-top: 60px;
  
  
  

}

.navbar {
  background-color: #000000!important;
}

.navbar .navbar-nav a {
  color: #ffffff !important;
  font-family: 'Montserrat';
  margin: auto 10px;

}

.navbar .navbar-nav .dropdown-item {
  color: #000000 !important;
}

.navbar-light .navbar-toggler{
  color: #ffffff;
  border-color: #ffffff;
}

.navbar-light .navbar-toggler-icon{
  background-color: #ffffff;
  
}



.img-fluid:hover{
    color: #000000;
    opacity: .8;
}

.navbar .navbar-nav a:hover {
  color:  #000000 !important;
  background-color: #FF2841;
}

.navbar .navbar-nav .nav-item .dropdown {
  color: black;
  
}


.listNum{
  
  font-size: 60px;
  font-weight: 800;
}

.col-md{
  background-color: #ffffff;
  margin: 40px;
  height: 375px;
  border-radius: 10px;
  padding: 0;
  
  
}

button{
  font: 18px;
  background-color: #FF2841;
  margin: 0px 0px 3px;
  padding: 13px 32px;
  font-family: 'montserrat';
  color: #ffffff;
}

.submit{
  font: 18px;
  background-color: #FF2841;
  margin: 0px 0px 3px;
  padding: 13px 32px;
  font-family: 'montserrat';
  color: #ffffff;

}
.mappedTodos{
  color:  #000000;
  font-family: 'montserrat';
  font-size: 24px;
  text-decoration: none !important;
}

.mappedTodos:hover{
  color: #FF2841;
}

.RedirectLinks{
  float: left;
  color: #FF2841;
  font-size: 24px;
  text-decoration: none !important;
}
.RedirectLinks:hover{
  color: #000000;
}

h2{
  clear: left;
}

#homeContent{
  margin-top: 40px;
}

#middleContent{
  margin: 20px auto;
  display: inline-block;
  background: url('https://i.imgur.com/kr63htu.jpg');
  
}



.media{
  margin: 25px;
  background-color: #dddddd;
}

.footer{
  background: #1f1f2e;
  color: white;
}